/* line 2, sass/components/_pattern.scss */
.pattern .bg-pattern-1 {
  background-color: #FFF;
  background-image: url("pattern/pattern-1.png");
}
/* line 5, sass/components/_pattern.scss */
.pattern .bg-pattern-1 .boxed.feature {
  background: #FFF;
}
/* line 9, sass/components/_pattern.scss */
.pattern .bg-pattern-2 {
  background-color: #FFF;
  background-image: url("pattern/pattern-2.png");
}
/* line 12, sass/components/_pattern.scss */
.pattern .bg-pattern-2 .boxed.feature {
  background: #FFF;
}
/* line 16, sass/components/_pattern.scss */
.pattern .bg-pattern-3 {
  background-color: #FFF;
  background-image: url("pattern/pattern-3.png");
}
/* line 19, sass/components/_pattern.scss */
.pattern .bg-pattern-3 .boxed.feature {
  background: #FFF;
}
/* line 23, sass/components/_pattern.scss */
.pattern .bg-pattern-4 {
  background-color: #FFF;
  background-image: url("pattern/pattern-4.png");
}
/* line 26, sass/components/_pattern.scss */
.pattern .bg-pattern-4 .boxed.feature {
  background: #FFF;
}
/* line 30, sass/components/_pattern.scss */
.pattern .bg-pattern-5 {
  background-color: #FFF;
  background-image: url("pattern/pattern-5.png");
}
/* line 33, sass/components/_pattern.scss */
.pattern .bg-pattern-5 .boxed.feature {
  background: #FFF;
}
/* line 37, sass/components/_pattern.scss */
.pattern .bg-pattern-6 {
  background-color: #FFF;
  background-image: url("pattern/pattern-6.png");
}
/* line 40, sass/components/_pattern.scss */
.pattern .bg-pattern-6 .boxed.feature {
  background: #FFF;
}
/* line 44, sass/components/_pattern.scss */
.pattern .bg-pattern-7 {
  background-color: #FFF;
  background-image: url("pattern/pattern-7.png");
}
/* line 47, sass/components/_pattern.scss */
.pattern .bg-pattern-7 .boxed.feature {
  background: #FFF;
}
/* line 51, sass/components/_pattern.scss */
.pattern .bg-pattern-8 {
  background-color: #FFF;
  background-image: url("pattern/pattern-8.png");
}
/* line 54, sass/components/_pattern.scss */
.pattern .bg-pattern-8 .boxed.feature {
  background: #FFF;
}
/* line 57, sass/components/_pattern.scss */
.pattern .bg-pattern-8 * {
  color: #fff;
}
