.bg-light{background-color:#f5f5f5;}
.bg-white{background-color:#ffffff;}
.bg-lime{background-color:#76b729;color:#ffffff;}
.bg-green{background-color:#40b649;color:#ffffff}
.bg-yellow{background-color:#c0c753;color:#ffffff}
.bg-orange{background-color:#FFA500;color:#ffffff}
.bg-dark{background-color:#555555;color:#ffffff;}
.bg-blue{background-color:#0099ff;color:#ffffff;}
.bg-gray{background:#ebebeb;color:#000000;}
.bg-red{background-color:#f56954;color:#ffffff;}
.bg-black{background-color:#000000;color:#ffffff;}
.bg-torquise{background-color:#0bd3c5;color:#ffffff;}
.bg-taint{background-color:#f9f1e8;}
.bg-none{background:none;}