.box-slider{
  height:300px;
  z-index:11;
  border:1px solid red;
  padding:0px;
  position:relative;
  .slides .item{
    list-style:none;
    position:absolute;
    top:0;
    img.background-image{display:none!important;}
    height:300px;
    width:100%;
    background-size:cover;
    background-position:center;
  }
  &:hover .image-box-caption{
    background:#f1811d;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .image-box-caption{
    background: rgba(#000,0.5);
    padding:20px 30px;
    z-index:10;
    bottom:0px;
    width:100%;
    position:absolute;
    *{
      color:#FFF;
    }
  }
  .wide{
    position:absolute;
    top:0px;
    height:300px;
    z-index:9;
    width:100%;
  }
  .with-bg.bg-aqua{
    background: rgba(#0CA3BA,0.7)!important;
    &:hover{
      background: rgba(#0CA3BA,0.9)!important;
    }
  }
  .with-bg.bg-violet{
    background: rgba(#5036B9,0.7)!important;
    &:hover{
      background: rgba(#5036B9,0.9)!important;
    }
  }
  .with-bg.bg-orange{
    background: rgba(#E35421,0.7)!important;
    &:hover{
      background: rgba(#E35421,0.9)!important;
    }
  }
  .with-bg.bg-pink{
    background: rgba(#E7348E,0.7)!important;
    &:hover{
      background: rgba(#E7348E,0.9)!important;
    }
  }
  .with-bg.bg-blue{
    background: rgba(#1159B3,0.7)!important;
    &:hover{
      background: rgba(#1159B3,0.9)!important;
    }
  }
  .with-bg.bg-yellow{
    background: rgba(#D5A62A,0.7)!important;
    &:hover{
      background: rgba(#D5A62A,0.9)!important;
    }
  }
  .with-bg.bg-green{
    background: rgba(#20D25E,0.7)!important;
    &:hover{
      background: rgba(#20D25E,0.9)!important;
    }
  }
}
