.box.image-box{
  padding:30px;
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  background-position:center center !important;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  *{
    color:#FFF;
  }
  img.background-image{display:none;}
}
