.c-torquise{color:#0bd3c5}
.c-gray{color:#d6d6d6;}
.c-white{color:#ffffff;}
.c-green{color:#40b649;}
.c-lime{color:#76b729;}
.c-yellow{color:#c0c753;}
.c-orange{color:#FFA500;}
.c-blue{color:#0099ff;}
.c-black{color:#000000;}
.c-dark{color:#555555;}
.c-red{color:#f56954;}
.c-taint{color:#f6e8d9;}