.j-component[data-type*="datepicker"],.j-component[data-type*="timepicker"]{
  position: relative;
  .component-sub{
    position:absolute;
    padding:10px;
    box-shadow: 0 10px 40px -6px rgba(0,0,0,0.10);
    background:#FFF;
    width:350px;
    border:1px solid #e0e0e0;
    display:none;
    z-index:10;
    select{
      height:initial!important;
      margin-bottom:5px!important;
      -webkit-appearance:menulist!important;
      -moz-appearance:menulist!important;
      -o-appearance:menulist!important;
      appearance:menulist!important;
    }
    @include media($xs){
      width:280px;
    }
  }
  select{
    border:1px solid #ccc;
    padding:5px;
    width:100%!important;
  }
  button{
    border:none!important;
    padding:5px 8px;
    width:100% !important;
    background:#ccc;
    &.select{
      background:none!important;
      text-decoration:underline;
    }
  }
}
