.j-component[data-type*="datepicker"]{
    .j-datepicker-ok,.j-datepicker-current{
      padding: 5px 8px;
      color:#000;
      font-size: 13px;
      text-align:center;
      display:block;
      width:100px;
      &:hover,&:visited{
        background:#ddd;
      }
    }
    .j-datepicker-ok{
       border:1px solid #ddd;
       text-decoration:none;
    }
  }
}
