.j-component[data-type*="timepicker"]{
    .menu-holder > li a > ul{
      background: #FFF;
    }
    .j-timepicker-ok,.j-timepicker-current{
      padding: 5px 8px;
      color:#000;
      font-size: 13px;
      text-align:center;
      display:block;
      width:100px;
      &:hover,&:visited{
        background:#ddd;
      }
    }
    .j-timepicker-ok{
       border:1px solid #ddd;
       text-decoration:none;
    }
  }
}
