.j-component{
  display:table;
  width:100%;
  clear:both;
  float:none;
  ul{
    padding:0px;
  }
  ul,li{
    list-style:none;
  }
  a{
    display:block;
  }
  .menu-holder > li{
    float:left
  }
  .menu-holder li > .submenu{
    position:absolute;
    z-index:2;
    display:none;
    padding:10px;
    border:1px solid #e0e0e0;
    box-shadow: 0 10px 40px -6px rgba(0,0,0,0.10);
    background:#FFF;
  }
  .tab-contents{
    clear:both;
    float:none;
    .tab{
      display:none;
    }
    .tab.active{
      display:block;
    }
  }
}