.modal-content{
	border-radius: 0px !important
}
.modal-header{
	border-color: #ededed !important;
}
.modal-header,.modal-body{
	padding: 25px !important;
}
.modal-title{
	display:table;
	float:left;
}