.full-width{width: 100%;}
.full-height{height: 100%;}
.width-vw{width:100vw;}
.height-vh{height:100vh;}

.line-height-initial{line-height:initial;}
.disabled{pointer-events:none;}

.display-none{display: none;}
.display-block{display: block;}
.extend{max-width: 100%;max-height: 100%;}
.clear{clear: both; float: none;}
.inline-block{display: inline-block;}
.display-inline-table{display: inline-table;}

.overflow-hidden{overflow: hidden;}
.overflow-x{overflow-x: auto; overflow-y: hidden;}
.overflow-y{overflow-y: auto; overflow-x: hidden;}
.overflow-auto{overflow: auto;}

.align-left{float: left;}
.align-right{float: right;}

.height-initial{height:initial;}
.height-auto{height:auto;}
.width-initial{width:initial;}
.width-auto{width:auto;}
a,.transation{-webkit-transition: all 200ms ease-in-out;-moz-transition: all 200ms ease-in-out;-ms-transition: all 200ms ease-in-out;-o-transition: all 200ms ease-in-out;transition: all 200ms ease-in-out;}
.cursor-pointer{cursor:pointer;}
.j-line{height:1px;background:#ededed;}
.j-border{border:1px solid red;}
.j-border-white{border:1px solid #ffffff;}
.border-dddddd{border:1px solid #dddddd;}
.border-cccccc{border:1px solid #cccccc;}
.border-cdcdcd{border:1px solid #cdcdcd;}
.border-none{border:none;}
.list-style-none{list-style:none;}

.relative{position:relative;}
.absolute{position:absolute;}
.fixed{position:fixed;}
.static{position:static;}

// C E N T E R  E L E M E N T
.center{margin-left: auto; margin-right: auto;}
.center-content-parent{-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;transform-style: preserve-3d;}
.center-content-child{
	@extend .relative;
	top: 50%;
	transform: translateY(-50%);
}
.hr{
  height:5px;
}
.hr-half{
  width:70px;
}
.opacity-half{
  opacity:.5;
}
.opacity-full{
  opacity:1;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: .5;
  }
}
.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(10, 10);
        opacity: 0;
        transition: transform .5s, opacity 1s;
    }
    &:active:after {
        transform: scale(0, 0);
        opacity: .2;
        transition: 0s;
    }
}
