.p00{padding:0px!important;}
@for $i from 0 through 100{
	.p#{$i} { padding: #{$i}px; }
}
.pt00{padding-top:0px!important;}
@for $i from 0 through 100{
	.pt#{$i} { padding-top: #{$i}px; }
}
.pl00{padding-left:0px!important;}
@for $i from 0 through 100{
	.pl#{$i} { padding-left: #{$i}px; }
}
.pr00{padding-right:0px!important;}
@for $i from 0 through 100{
	.pr#{$i} { padding-right: #{$i}px; }
}
.pb00{padding-bottom:0px!important;}
@for $i from 0 through 100{
	.pb#{$i} { padding-bottom: #{$i}px; }
}

// R E S P O N S I V E  P R O P E R T I E S
@media (max-width: 767px) { // XS
	
	@for $i from 0 through 100{
		.p-xs-#{$i} { padding: #{$i}px !important;}
	}
	@for $i from 0 through 100{
		.pt-xs-#{$i} { padding-top: #{$i}px !important; }
	}
	@for $i from 0 through 100{
		.pl-xs-#{$i} { padding-left: #{$i}px !important; }
	}	
	@for $i from 0 through 100{
		.pr-xs-#{$i} { padding-right: #{$i}px !important; }
	}
	@for $i from 0 through 100{
		.pb-xs-#{$i} { padding-bottom: #{$i}px !important; }
	}

}

@media (min-width: 768px) and (max-width: 991px) { // SM
	@for $i from 0 through 100{
		.p-sm-#{$i} { padding: #{$i}px !important; }
	}
	@for $i from 0 through 100{
		.pt-sm-#{$i} { padding-top: #{$i}px !important; }
	}
	@for $i from 0 through 100{
		.pl-sm-#{$i} { padding-left: #{$i}px !important; }
	}
	@for $i from 0 through 100{
		.pr-sm-#{$i} { padding-right: #{$i}px !important; }
	}	
	@for $i from 0 through 100{
		.pb-sm-#{$i} { padding-bottom: #{$i}px !important; }
	}

}

@media (min-width: 992px) and (max-width: 1199px) { // MD
	@for $i from 0 through 100{
		.p-md-#{$i} { padding: #{$i}px !important; }
	}
	@for $i from 0 through 100{
		.pt-md-#{$i} { padding-top: #{$i}px !important; }
	}
	@for $i from 0 through 100{
		.pl-md-#{$i} { padding-left: #{$i}px !important; }
	}
	@for $i from 0 through 100{
		.pr-md-#{$i} { padding-right: #{$i}px !important; }
	}
	@for $i from 0 through 100{
		.pb-md-#{$i} { padding-bottom: #{$i}px !important; }
	}
}

@media (min-width: 1200px) { // LG
	@for $i from 0 through 100{
		.p-lg-#{$i} { padding: #{$i}px !important; }
	}
	@for $i from 0 through 100{
		.pt-lg-#{$i} { padding-top: #{$i}px !important; }
	}
	@for $i from 0 through 100{
		.pl-lg-#{$i} { padding-left: #{$i}px !important; }
	}
	@for $i from 0 through 100{
		.pr-lg-#{$i} { padding-right: #{$i}px !important; }
	}
	@for $i from 0 through 100{
		.pb-lg-#{$i} { padding-bottom: #{$i}px !important; }
	}
}