.pattern{
  .bg-pattern-1{
    background-color:#FFF;
    background-image: url('pattern/pattern-1.png');
    .boxed.feature{
      background:#FFF;
    }
  }
  .bg-pattern-2{
    background-color:#FFF;
    background-image: url('pattern/pattern-2.png');
    .boxed.feature{
      background:#FFF;
    }
  }
  .bg-pattern-3{
    background-color:#FFF;
    background-image: url('pattern/pattern-3.png');
    .boxed.feature{
      background:#FFF;
    }
  }
  .bg-pattern-4{
    background-color:#FFF;
    background-image: url('pattern/pattern-4.png');
    .boxed.feature{
      background:#FFF;
    }
  }
  .bg-pattern-5{
    background-color:#FFF;
    background-image: url('pattern/pattern-5.png');
    .boxed.feature{
      background:#FFF;
    }
  }
  .bg-pattern-6{
    background-color:#FFF;
    background-image: url('pattern/pattern-6.png');
    .boxed.feature{
      background:#FFF;
    }
  }
  .bg-pattern-7{
    background-color:#FFF;
    background-image: url('pattern/pattern-7.png');
    .boxed.feature{
      background:#FFF;
    }
  }
  .bg-pattern-8{
    background-color:#FFF;
    background-image: url('pattern/pattern-8.png');
    .boxed.feature{
      background:#FFF;
    }
    *{
      color: #fff;
    }
  }
}