.zoom-hover-img{
	a{
		overflow:hidden;
	    display:block;
	    width:100%;
	    box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    &:hover img{
	    	transform: scale(1.15);
	    }
	    figure{
	    	margin:0px!important;
	    	@include flex('flex-center');
	    	img {
				max-width: 100%;
				transition: transform 300ms ease-in-out;
				width:100%;
				margin:0px!important;
			} 
	    }
	}
}