.bg-light{background-color:#f5f5f5;}
.bg-light2{background-color:#eeeeee;}
.bg-light3{background-color:#e2e2e2;}
.bg-white{background-color:#ffffff;}
.bg-lime{background-color:#76b729;color:#ffffff;}
.bg-green{background-color:#40b649;color:#ffffff}
.bg-green2{background-color:#8ed493;color:#555555;}
.bg-yellow{background-color:#c0c753;color:#ffffff}
.bg-yellow2{background-color:#adb447;color:#ffffff;}
.bg-orange{background-color:#FFA500;color:#ffffff}
.bg-dark{background-color:#555555;color:#ffffff;}
.bg-blue{background-color:#0099ff;color:#ffffff;}
.bg-blue2{background:#0384da;color:#ffffff;}
.bg-blue3{background-color:#00c0ef;color:#ffffff;}
.bg-gray{background:#ebebeb;color:#000000;}
.bg-gray2{background-color:#d6d6d6;color:#ffffff;}
.bg-red{background-color:#f56954;color:#ffffff;}
.bg-red2{background-color:#ff7d7d;color:#ffffff;}
.bg-black{background-color:#000000;color:#ffffff;}
.bg-black2{background-color:rgba(0,0,0,0.1);}
.bg-torquise{background-color:#0bd3c5;color:#ffffff;}
.bg-taint{background-color:#f9f1e8;}
.bg-none{background:none;}